@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.products{
    margin-left: 4rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 4rem;
}