@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* ------- SHOPPING CART ------- */

.border {
    background-color: black !important;
    width: 70px;
    height: 70px;
    border-radius: 50%; 
    border: none !important;
    z-index: 1000;
    margin-left: 75rem;
    margin-top: -90px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
}
.cart-icon {
    font-size: 40px;
    color: #fff; 
    cursor: pointer;
}

/* ------- PRODUCTS ------- */

.products{
    margin-left: 4rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

h3{
    font-weight: 700;
    margin-left: 4rem;
    margin-top: 2rem;
}

.cat1{
    font-weight: 500;
    font-size: 18px;
    margin-left: 4rem;
    margin-bottom: 3rem;
}

.cat2{
    font-weight: 500;
    font-size: 18px;
    margin-top: 2rem;
}

.mujer1, .hombre1, .niños1{
    display: flex;
    gap: 2.5rem;
    margin-top: 2rem;
}

.card{
    cursor: pointer;
}

.price{
    margin-bottom: 4rem;
}

a{
    margin-left: -10px;
}

/* ------- FOOTER ------- */

.footer{
    background-color: #a1a3a6;;
    height: 250px;
    color: #000;
}

.footer1{
    font-weight: 500;
    font-size: 22px;
    margin-left: 4rem;
    padding-top: 4rem;
}

.icons{
    font-size: 30px;
    margin-left: 6rem;
    cursor: pointer;
}

.small_text3{
    font-weight: 200;
    font-size: 11px;
    margin-left: 4rem;
    padding-top: 4rem;
}